<style>form div { padding: 10px; }</style>

<form action="/contacts" method="post">
  <div>
    <label for "contact_first_name">First Name</label>
    <input id="contact_first_name" name="contact[first_name]" type="text" />
  </div>
  <div>
    <label for="contact_last_name">Last Name</label>
    <input id="contact_last_name" name="contact[last_name]" type="text" />
  </div>
  <div>
    <label for "contact_email">Email</label>
    <input id="contact_email" name="contact[email]" type="text" />
  </div>
  <div>
    <input name="commit" type="submit" value="Create Contact" />
  </div>
</form>
